<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/WEB-INF/templates/master.xhtml"> 
<ui:define name="content">
<h1>Usuario</h1>
<p:growl autoUpdate="true" showDetail="true" showSummary="true"/>
	<h:form id="frm" enctype="multipart/form-data">
				<p:panel>
					<f:facet name="header">Usuario</f:facet>
					<h:panelGrid columns="3">
		                <p:outputLabel for="txtBusqueda" value="Usuario"/> 
		                <h:inputText id="txtBusqueda" required="true" value="#{indexBean.us.usuario}"/>
		                <p:commandButton value="Buscar" actionListener="#{indexBean.listar()}"  oncomplete="PF('usuTable')"  update="frm:dt" process="@parent"/>
				  </h:panelGrid>
				</p:panel>
				<p:dataTable id="dt"    widgetVar="usuTable"  var="e" value="#{indexBean.listado}" >
										
					<p:column headerText="Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>
					<p:column headerText="Apellidos">
						<p:outputLabel value="#{e.persona.apellidos}" />
					</p:column>
					<p:column headerText="nombres">
						<p:outputLabel value="#{e.persona.nombres}" />
					</p:column>
					
					<p:column headerText="Acciones" exportable="false">
									<p:commandLink actionListener="#{indexBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" update="frm:dlg" immediate="true" process="@this">
							<p:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
				
		<p:dialog id="dlg" widgetVar="wdlg" header="#{indexBean.tipoDialog}" modal="true" closeOnEscape="true" resizable="false" draggable="true">
					
			<div class="centerDiv" style="width: 400px">
				<p:panel>
					<h:panelGrid  columns="4">
		                <p:outputLabel for="txtLogin" value="Usuario:"/>
		                <h:inputText id="txtLogin" value="#{indexBean.us.usuario}"   />
		             	<p:outputLabel  value=""/>
		             	<p:outputLabel value="" />
		                <p:outputLabel for="txtContrasena" value="Contraseña Actual:"/>
		                <h:inputSecret id="txtContrasena"  value="#{indexBean.us.contrasena}"/>
		                <p:outputLabel value="" />
		                <p:commandButton value="Verificar" action="#{indexBean.verificar()}" inmediate="true" />
		                
		                <p:outputLabel for="pwd1" value="Contraseña 1:" />
						<p:password id="pwd1" value="#{indexBean.us.contrasena1}" match="pwd2" label="Password 1" validatorMessage="Contraseñas no coinciden"/>
						<p:outputLabel value="" />
						<p:message for="pwd1" display="text" />
					

						<p:outputLabel for="pwd2" value="Contraseña 2:" />
						<p:password id="pwd2" value="#{indexBean.us.contrasena1}" label="Password 2" />
					    <p:outputLabel value="" />
					    <p:outputLabel value="" />
					    <p:commandButton value="Aceptar"  action="#{indexBean.ActualizarPass()}"  ajax="true" oncomplete="if (personaBean.tipoDialog =='S'; !args.validationFailed) PF('wdlg').hide()"/>
					    <p:commandButton value="Cancelar" ajax="true" oncomplete="PF('wdlg').hide()"  />
		                
					</h:panelGrid>

				</p:panel>
			</div>
		</p:dialog>
	</h:form>
</ui:define>
</ui:composition>

</html>
 

